---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Política de Privacidad - Analítica360">
  <h1>Política de Privacidad</h1>
  <p>Aquí irá el texto legal...</p>
</BaseLayout>