---
import SearchBar from './SearchBar.astro';
---

<header class="header">
  <div class="logo">
    <a href="/">Analítica360</a>
  </div>
  <nav class="menu">
    <a href="/economia">Economía</a>
    <a href="/politica">Política</a>
    <a href="/tecnologia">Tecnología</a>
    <a href="/historia">Historia</a>
  </nav>
  <div class="search">
    <SearchBar />
  </div>
</header>